{% macro render_posts(posts, pagination=True) %}
{% for post in _posts %}
<div>
    <h1>
        <a class="text-dark" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
    </h1>
</div>
<div class="row">
    <div class="col">
        {{ post.text | truncate(500) | safe }}
        <a href="{{ url_for('post', post_id=post.id) }}">Read More</a>
    </div>
</div>
{% endfor %}
{% endmacro %}